/* 1 */

/* spacer */
/* 1-2 */
/* 1-4 */
main .spacer1,
main .spacer2,
main .spacer3{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 1100px;
    height: 0px;
    left: 360px;
    top: 534px;
    border: 1px solid #E8E8E8;
}
/* 1-1 */
/* 1-3 */
/* 1-5 */
main .bookingInformation,
main .userInformation,
main .userPay{
    display: flex;
    flex-direction: column;
    width: 1000px
}

/* ==== 1-1 ==== */
/* 1-1-1 */
main .bookingInformation .bookingTitle{
    display: flex;
    /* width: 1200px;
    height: 16px;
    left: 113px;
    top: 6px; */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;    
    align-items: center;
    color: #666666;

    margin-top: 30px;
    margin-bottom: 30px;
}
/* 1-1-2 */
main .bookingInformation .bookingItem{
    display: flex;
    width: auto;

    /* justify-content:center; */
    align-content:center;
    align-items:center
}
/* 1-1-2-1 */
main .bookingInformation .bookingItem .bookingImgBlock{
    display: flex;
    width: 266px;
    height: 200px;

    margin-left: 10px;
    margin-right: 20px;
}
/* 1-1-2-1 */
main .bookingInformation .bookingItem .bookingImgBlock .bookingImg{
    display: flex;
    width: 100%;
    height: 100%;
    background-position: center;
    justify-content:center;
    align-content:center;
    align-items:center;

    object-fit: cover;
}
/* 1-1-2-2 */
main .bookingInformation .bookingItem .bookingDetail{
    display: flex;
    flex-direction: column;
    width:780px

}
/* 1-1-2-2-1 */
main .bookingInformation .bookingItem .bookingDetail .bookingAttraction{
    display: flex;
    width: auto;
    height: 14px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    color: #448899;

    margin-top: 10px;
    margin-bottom: 20px;
}
/* 1-1-2-2-N */
main .bookingInformation .bookingItem .bookingDetail .bookingDateBlock,
main .bookingInformation .bookingItem .bookingDetail .bookingTimeBlock,
main .bookingInformation .bookingItem .bookingDetail .bookingPriceBlock,
main .bookingInformation .bookingItem .bookingDetail .bookingAddressBlock{
    display: flex;
    margin-top: 10px;
    margin-bottom:10px;
}
/* 1-1-2-2-N-1 */
main .bookingInformation .bookingItem .bookingDetail .bookingDateBlock .titleContent,
main .bookingInformation .bookingItem .bookingDetail .bookingTimeBlock .titleContent,
main .bookingInformation .bookingItem .bookingDetail .bookingPriceBlock .titleContent,
main .bookingInformation .bookingItem .bookingDetail .bookingAddressBlock .titleContent{
    display: flex;
    width: auto;
    height: 14px;

    font-family: 'Noto Sans TC';
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
}
/* 1-1-2-2-N-2 */
main .bookingInformation .bookingItem .bookingDetail .bookingDateBlock .bookingDate,
main .bookingInformation .bookingItem .bookingDetail .bookingTimeBlock .bookingTime,
main .bookingInformation .bookingItem .bookingDetail .bookingPriceBlock .bookingPrice,
main .bookingInformation .bookingItem .bookingDetail .bookingAddressBlock .bookingAddress{
    display: flex;
    width: auto;
    height: 14px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;

    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
}
/* 1-1-2-3 */
main .bookingInformation .bookingItem .bookingCancel{
    display: flex;
    align-self:flex-start;
    width: auto;
    height: auto;
    cursor: pointer;
    margin-top: 10px;
}

/* ==== 1-3 ==== */

/* 1-3-1 */
main .userInformation .userTitle{
    width: auto;
    height: 16px;

    /* Button - Bold 19(16) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    /* identical to box height, or 84% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
    margin-top: 10px;
    margin-bottom:10px;
}
/* 1-3-N */
main .userInformation .nameBlock,
main .userInformation .emailBlock,
main .userInformation .phoneBlock{
    display: flex;
    margin-top: 10px;
    margin-bottom:10px;
}
/* 1-3-N-1 */
main .userInformation .nameBlock .contant,
main .userInformation .emailBlock .contant,
main .userInformation .phoneBlock .contant{
    width: 81px;
    height: 24px;
    left: 0px;
    top: 7px;

    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
}
/* 1-3-N-2 */
main .userInformation .nameBlock .nameInput,
main .userInformation .emailBlock .emailInput,
main .userInformation .phoneBlock .input{
    width: 180px;
    height: 18px;
    left: 10px;
    top: 10px;

    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Additional Color/Black */

    color: #000000;
}
/* 1-3-5 */
main .userInformation .userWarning{
    /* position: absolute; */
    width: auto;
    height: auto;
    margin-top: 1px;

    /* Body - Bold 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 83% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
    margin-top: 10px;
    /* margin-bottom:10px; */
}

/* ==== 1-5 ==== */

/* 1-5-1 */
main .userPay .payTitle{
    width: auto;
    height: 16px;

    /* Button - Bold 19(16) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    /* identical to box height, or 84% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
    margin-top: 10px;
    margin-bottom:10px;
}
/* 1-5-N */
main .userPay .cardBlock,
main .userPay .cardDateBlock,
main .userPay .cardPasswordBlock{
    display: flex;
    margin-top: 10px;
    margin-bottom:10px;
}
/* 1-5-N-1 */
main .userPay .cardBlock .contant,
main .userPay .cardDateBlock .contant,
main .userPay .cardPasswordBlock .contant{
    width: 81px;
    height: 24px;
    left: 0px;
    top: 7px;

    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
}
/* 1-5-N-2 */
main .userPay .cardBlock .input,
main .userPay .cardDateBlock .input,
main .userPay .cardPasswordBlock .input{
    width: 180px;
    height: 18px;
    left: 10px;
    top: 10px;

    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 50 */

    color: #757575;
}
/* 1-7 */
main .payBlock{
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;

}
/* 1-7-1 */
main .payBlock .totelPrice{
    /* justify-content: flex-end; */
    width: auto;
    height: 14px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    margin-top: 10px;
    margin-bottom:10px;
}
/* 1-7-2 */
main .payBlock .right{
    display: flex;
    justify-content: flex-end;
    /* text-align: right; */
    display: inline-flex;
    margin-top: 10px;
    margin-bottom:50px;
}

main .payBlock .right .pay{

    display: flex;
    /* margin: 10px 20px; */
    /* padding: 10px 20px; */
    width: 173px;
    height: 36px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    justify-content:center;
    align-items:center;
    color: #FFFFFF;
    background: #448899;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
main .payBlock .right .pay:hover{
    background: #53a5ba;
}

/* 1-8 */
main .noSchedule{
    width: 980px;
    height: 24px;


    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;

    margin: 20px 0px 40px 10px;
}
/* 1-8 footer change */
.footerNoSchedule{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Auto layout */
    display: flex;
    align-items: center;
    background: #757575;
    width: 100%;
    height: 100%;

    /* Gray 700 */
    background: #757575;
}

@media(max-width: 1200px){
    main .spacer1,
    main .spacer2,
    main .spacer3{
        width: 95%;
    }
    /* 1-1 */
    /* 1-3 */
    /* 1-5 */
    main .bookingInformation,
    main .userInformation,
    main .userPay{
        display: flex;
        flex-direction: column;
        width: 95%
    }
    /* 1-1-2 */
    main .bookingInformation .bookingItem{
        flex-direction: column;
    }
    /* 1-1-2-1 */
    main .bookingInformation .bookingItem .bookingImgBlock{
        display: flex;
        width: 100%;
        height: 300px;
        margin: 0px 0px 20px 0px;
    }
    main .bookingInformation .bookingItem .bookingImgBlock .bookingImg{
        display: flex;
        width: 100%;
        height: 100%;
        background-position: center;
        justify-content:center;
        align-content:center;
        align-items:center;
    
        object-fit: cover;
    }
    /* 1-1-2-2 */
    main .bookingInformation .bookingItem .bookingDetail{
        width:100%
    }
    /* 1-1-2-2-1 */
    /* 1-1-2-2-N */
    /* 1-1-2-2-N-1 */
    /* 1-1-2-2-N-2 */
    /* 1-1-2-3 */
    main .bookingInformation .bookingItem .bookingCancel{
        align-self: flex-end;
    }
    /* 1-3-1 */
    /* 1-3-N */
    /* 1-3-N-1 */
    /* 1-3-N-2 */
    /* 1-3-5 */
    /* 1-5-1 */
    /* 1-5-N */
    /* 1-5-N-1 */
    /* 1-5-N-2 */
    /* 1-7 */
    main .payBlock{
        width: 95%;    
    }
    /* 1-7-1 */
    /* 1-7-2 */
    /* 1-8 */
}