/* 1-0 */
main .userCenterTitle{
    align-items:center;
    display: inline-flex;
    width: auto;
    height: 50px;
    left: 0px;
    top: 50px;
    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height, or 113% */
    /* Primary Color/Cyan 70 */
    color: #666666;
    text-decoration: none;
    margin-top: 20px;
}

main .listChangeBlock{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
}

main .listChangeBlock .changeToUser,
main .listChangeBlock .changeToHistory{
    display: flex;
    justify-content:center;
    width: 500px;
    height: inherit;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 113% */
    /* Primary Color/Cyan 70 */
    color: #666666;
    background-color: #f5f5f5;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}

/* 1-1 */
main .userIconAndName{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    padding: 10px 0px 40px 0px;
    align-items:center;
    background-color: #f5f5f5;
}

/* 1-1-1 */
main .userIconAndName .userIconBlock{
    position: relative;
    left: 70px;
    width: 180px;
    height: 180px;
    /* background-color: blue; */
}
/* 1-1-1-1 */
main .userIconAndName .userIconBlock .userIcon{
    position: absolute;
    object-fit: cover;
    width: auto;
    height: 180px;
    /* cursor: pointer; */
}

/* 1-1-1-2 */
main .userIconAndName .userIconBlock .userEditIconBlock,
main .userIconAndName .userIconBlock .userFinishIconBlock,
/* 1-1-2-2 */
main .userIconAndName .userNameBlock .userNameEditBlock,
main .userIconAndName .userNameBlock .userNameFinishBlock,
/* 1-2-2-2 */
main .userMailAndPassword .userMailBlock .userMailEditBlock,
/* 1-2-4-2 */
main .userMailAndPassword .userPasswordBlock .userPasswordEditBlock{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;   
    cursor: pointer;
}
main .userIconAndName .userIconBlock .userEditIconBlock,
main .userIconAndName .userIconBlock .userFinishIconBlock{
    position: absolute;
    bottom: 0%;
    right: 0%;/**/
    z-index: 10;
    margin: 0px;
    cursor: pointer;
}
/* 1-1-1-1 */
main .userIconAndName .userEditIconBlock .userEditIcon,
main .userIconAndName .userFinishIconBlock .userFinishIcon,
main .userIconAndName .userNameBlock .userNameEditBlock .userNameEdit,
main .userIconAndName .userNameBlock .userNameFinishBlock .userNameFinish,
main .userMailAndPassword .userMailBlock .userMailEditBlock .userMailEdit,
main .userMailAndPassword .userMailBlock .userMailFinishBlock .userMailFinish,
main .userMailAndPassword .userPasswordBlock .userPasswordEditBlock .userPasswordEdit,
main .userMailAndPassword .userPasswordBlock .userPasswordFinishBlock .userPasswordFinish{
    position: relative;
    object-fit: cover;
    width: auto;
    height: 20px;
    cursor: pointer;
}


/* 1-1-2 */
main .userIconAndName .userNameBlock{
    position: relative;
    display: inline-flex;
    width: 600px;
    right: 70px;
    justify-content: center;
    align-items:center;
    /* background-color: #f9f9f9; */
    border-radius: 55px;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    color: #666666;
}

/* 1-1-2-1 */
main .userIconAndName .userNameBlock .userName{    
    position: relative;
    display: flex;
    width: 600px;
    height: 80px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 16px;
    text-align: center;
    align-items:center;
    justify-content: center;
    color: #666666;
}
main .userIconAndName .userNameBlock .newUserName{
    position: relative;
    display: flex;
    width: 500px;
    height: 80px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 16px;
    text-align: center;
    align-items:center;
    justify-content: center;
    color: #722929;

    /* appearance: none; */
    /* -webkit-appearance: none; */
    border: none;
    /* outline: none; */
    border-radius: 55px;

    height: 55px;
    color: #666666;
    background-color: #ffffff;
}
/* 1-2-4-1 */
/* 1-1-2-2 */
main .userIconAndName .userNameBlock .userNameEditBlock,
main .userIconAndName .userNameBlock .userNameFinishBlock,
/* 1-2-2-2 */
main .userMailAndPassword .userMailBlock .userMailEditBlock,
main .userMailAndPassword .userMailBlock .userMailFinishBlock,
/* 1-2-4-2 */
main .userMailAndPassword .userPasswordBlock .userPasswordEditBlock,
main .userMailAndPassword .userPasswordBlock .userPasswordFinishBlock {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;   
}
main .userIconAndName .userNameBlock .userNameEditBlock{
    margin-right: 40px; 
}


/* 1-2 */
main .userMailAndPassword{
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: #f5f5f5;
}

/* 1-2-1 */
/* 1-2-3 */
main .userMailAndPassword .userMailTitle,
main .userMailAndPassword .userPasswordTitle{

    display: flex;
    width: auto;
    height: 16px;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;


    align-items: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
    margin: 20px 0px 10px 170px;
}

/* 1-2-2 */
/* 1-2-4 */
main .userMailAndPassword .userMailBlock,
main .userMailAndPassword .userPasswordBlock,
main .userMailAndPassword .userNewPasswordBlock,
main .userMailAndPassword .userNewPasswordCheckBlock{
    display: flex;
    width: 700px;
    justify-content:center;
    /* flex-direction: column; */
    justify-content: space-between;
    margin: 0px 10px 10px 170px;
    padding: 0px 0px 0px 10px;
    background-color: #ffffff;
}


/* 1-2-2-1 */
/* 1-2-4-1 */
main .userMailAndPassword .userMailBlock .userMail,
main .userMailAndPassword .userPasswordBlock .userPassword,
main .userMailAndPassword .userMailBlock .newUserMail,
main .userMailAndPassword .userPasswordBlock .oriUserPassword,
main .userMailAndPassword .userNewPasswordBlock .newPassword,
main .userMailAndPassword .userNewPasswordCheckBlock .newPasswordCheck{
    display: flex;
    width: 600px;
    height: 16px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 16px;
    /* identical to box height, or 84% */
    left:20px;
    /* background-color: aqua; */
    color: #666666;
    padding: 10px 10px 10px 0px;
}
.newUserMail,
.oriUserPassword,
.newPassword,
.newPasswordCheck{
    border: none;
    border: 0;
}
input:focus {
    outline: none;
  }
/* ========== History Orders =========== */

/* 1-3 */
main .orderHistory{
    display: flex;
    flex-direction: column;
    width: 1000px;
    background-color: #f5f5f5;
}
/* 1-3-2 */
main .orderHistory .orderHistoryList{
    display: flex;
    width :800px;
    margin: 0px 0px 20px 100px;
    padding: 10px;
    background-color: #fdfdfd;
}
/* 1-3-2-1 */
main .orderHistory .orderHistoryList .orderHistoryNumber{
    display: flex;
    justify-content:center;
    text-align: center;
    align-items:center;
    width: 100px;
    height: inherit;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #666666;
}
/* 1-3-2-2 */
main .orderHistory .orderHistoryList .orderHistoryImgBlock{
    display: flex;
}
main .orderHistory .orderHistoryList .orderHistoryImgBlock .orderHistoryImg{
    display: flex;
    /* position: absolute; */
    object-fit: cover;
    width: 240px;
    height: 180px;
}

/* 1-3-2-3 */
main .orderHistory .orderHistoryList .orderHistoryDetail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0px 0px 10px;

}
/* 1-3-2-3-1 */
main .orderHistory .orderHistoryList .orderHistoryDetail .orderHistoryAttractionTitle,
/* 1-3-2-3-2 */
main .orderHistory .orderHistoryList .orderHistoryDetail .orderHistoryDateTitle,
/* 1-3-2-3-3 */
main .orderHistory .orderHistoryList .orderHistoryDetail .orderHistoryTimeTitle,
/* 1-3-2-3-4 */
main .orderHistory .orderHistoryList .orderHistoryDetail .orderHistoryOrderNumberTitle,
/* 1-3-2-3-5 */
main .orderHistory .orderHistoryList .orderHistoryDetail .orderHistoryPaymentTitle{
    display: flex;
    margin:5px 0px 5px 0px;
    width: auto;
    /* Content - Reg 16(Auto) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
}

/* Update finish */
main .finishFilter{
    position: fixed;
    display: none;
    /* position: absolute; */
    background-color: #000000;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
main .finishBlockBorder{
    position:fixed;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* position: sticky; */
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 140px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 110;
}
main .finishBlockBorder .finishBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    top:50%;
    width:330px;
    height: 130px;
    background-color: #d7d7d7;
    border-radius: 5px;
    
}
main .finishBlockBorder .finishBlock .finishHint{
    display: flex;
    justify-content: center;

    display: flex;
    margin:30px 0px 15px 0px;
    width: auto;

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
    

}
main .finishBlockBorder .finishBlock .finishOk{
    display: flex;
    justify-content: center;
    bottom: 0px;
    background-color: #448899;;
    color: #ffffff;
    left:50%;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    /* text-align: center; */
    margin: auto;
    cursor: pointer;

}
main .finishBlockBorder .finishBlock .finishOk:hover{
    background: #508b9a; 
}