/* 
WeHelp BootCamp Assignemt - Stage 2 taipei_day_trip -*- CSS for index -*-
Update date: 2022/11/30
Authored by SC Siao 
*/

body{
    margin: 0; /* 不要留白 */
}
/* ***********************************************/
/* ******************* Header ********************/
/* ***********************************************/
/* Header - need freeze on top */

header{
    display: flex;
    position: sticky; /* freeze */
    margin:0px;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 100;
}

header nav{
    display: flex;
    height: 54px;
    width: 1200px;
    justify-content:space-between;
    align-items: center;
}
header nav .topLeftTitleText{
    /* 台北一日遊 */
    width: 150px;
    height: 34px;
    left: 0px;
    top: 0px;
    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height, or 113% */
    /* Primary Color/Cyan 70 */
    color: #448899;

}
header nav .topRightOptions{
    display: flex;      
}

header nav .topRightOptions .topRightButton{
    margin: 10px;
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    cursor: pointer;

}

/* ***********************************************/
/* ******************* slogan ********************/
/* ***********************************************/
/* Main image */   
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainImage{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width : 100%;
    height: 320px;
    background-image: url("../static/image/welcome.png");
    background-size: cover;
    align-items: center;
}
.mainImageAlign{ 
    position: relative;  
    /* slogan */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 1180px;
    height: 169px;

}

.mainImageAlignH1{    
    /* 輕鬆享受台北一日悠閒 */
    /* Position */
    width: 1180;
    height: 41px;
    left: 0px;
    top: 0px;
    /* Header 1 - Bold 28(24) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */
    display: flex;
    align-items: center;
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;
    /* Text Shadow */
    text-shadow: 0px 0px 30px #AABBCC;
    
}

.mainImageAlignH2{
    /* 探索每個角落，體驗城市的深度旅遊行程 */
    width: 1180px;
    height: 22px;
    left: 0px;
    top: 56px;
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;
}
/* ***********************************************/
/* ******************** Search *******************/
/* ***********************************************/
/* Search bar */
.mainImageSearchBar{
    display: flex;
    position: relative;
}
.searchBarInputImage{
    /* input */
    width: 400px;
    height: 46px;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;

}
.searchBarInput{
    font-family: 'Noto Sans TC';
    font-style: normal;
    color: #757575;
    justify-content: center;
    align-items: center;
}

.searchBarInput input{
    display: flex;
    width: 385px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    color: #757575;    
}


.searchBarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 46px;
    border-radius: 5px;
    background-color: #448899;
    cursor: pointer;
}

/* CAT table */
.catTable0 {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #AABBCC;
    border-radius: 5px;
    z-index: 10;
    width: 400px;
    height: 162px;

    display: none;
    /* align-items: center; */
    /* gap: 4px; */
    grid-template-columns: repeat(3, 1fr);
    /* padding-left: 10px; */
    left: 10px;
    top: 140px;
    align-items: center;
    justify-content: center;
  }
  .catTable0 :hover {
    background: #E8E8E8;
    /* border-radius: 5px; */
  }

  .catTable0 div {
    display: flex;
    /* padding: 10px ; */
    height: 40px;
    cursor: pointer;
    color: #000000;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    align-items: center;
    justify-content: center;

  }
/* ***********************************************/
/* ******************** Attr *********************/
/* ***********************************************/
.mainFetchData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fetchData {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1180px;
    margin: 20px 10px;
    grid-gap: 15px;
    padding: 10px;
}  

.fetchData .imageBlock{
    width: 270px;
    height: 242px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #E8E8E8;
    text-decoration: none;
}
/* list3-1 */
.fetchData .imageBlock .imageShow{
    /* Picture */
    /* position: absolute; */
    width: 270px;
    height: 197px;
    left: 0px;
    top: 0px;
    background-color: #757575;
    position: relative;
}

.fetchData .imageBlock .imageShow img{
    width: 270px;
    height: 197px;
}

/* list5 */
.fetchData .imageBlock .imageTextName{
    /* Background */    

    display: flex;
    position: absolute;
    align-items: center;
    width: 250px;
    background-color: #000000;
    opacity: 0.6;
    color: #FFFFFF;
    bottom: -15px;
    font-family: "Noto Sans TC";
    font-style: normal;
    padding: 10px;

}
/* list3-2 */
.fetchData .imageBlock .imageTextBox{
    /* Auto layout */
    display: flex;
    gap: 4px;
    width: 270px;
    height: 45px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    /* Additional Color/White */
    background: #FFFFFF;
    position: relative;

}
/* list4-1 */
.fetchData .imageBlock .imageTextBox .imageTextMRT{
    /* position: absolute; */
    width: 125px;
    height: 25px;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;

    /* or 83% */
    display: flex;
    align-items: center;
    justify-content:ledt;

    /* Secondary Color/Gray 50 */
    color: #757575;
    padding: 10px;
}
/* list4-2 */
.fetchData .imageBlock .imageTextBox .imageTextCAT{
    width: 125px;
    height: 25px;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;

    /* or 83% */
    display: flex;
    align-items: center;
    justify-content:right;

    /* Secondary Color/Gray 50 */
    color: #757575;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Auto layout */
    display: flex;
    align-items: center;
    background: #757575;
    width: 100%;
    height: 104px;

    /* Gray 700 */
    background: #757575;
}

footer p{
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    align-items: center;
    /* Additional Color/White */
    color: #FFFFFF;
}

@media (max-width: 1200px){
    .fetchData {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
      }
    .fetchData .imageBlock .imageTextBox{
        height: 45px;
    }
    .mainImageAlign{ 
        width:600px
    }

}

@media (max-width: 600px){
    .fetchData {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
      }
    .mainImageAlign{ 
        width:340px;
        height:169px;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .mainImageAlignH1{
        width: 320px;
        height: 41px;
        left: 0px;
        top: 0px;
    }
    .mainImageAlignH2{
        width: 320px;
        height: 22px;
        left: 0px;
        top: 56px;
    }
    .searchBarInputImage{
        width: 230px;
        height: 46px;

    }
    .searchBarInput input{
        width: 230px;
    }
    .catTable0{
        width: 322px;
        height: 162px;
        left: 0px;
        top: 140px;
    }
}

