/* Header - need freeze on top */
.topFreezeBackgroung{
    display: flex;
    /* position: -webkit-sticky;
    position: sticky; */
    position: absolute;
    position: fixed;
    margin:0px;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    /* z-index: 10; */
    top: 0px;
    left: 0px
}

.topTitle{
    display: flex;
    height: 54px;
    width: 1200px;

    /* justify-content: center;
    align-items: center; */
    /* position: absolute; */
    /* left:50%;
    transform: translate(-50%); */
    justify-content:space-between;
    align-items: center;
}
.topLeftTitleText{
    /* 台北一日遊 */


    /* position: absolute; */
    width: 150px;
    height: 34px;
    left: 0px;
    top: 0px;

    /* Header 2 - Bold 30(34) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height, or 113% */


    /* Primary Color/Cyan 70 */

    color: #448899;

}
.topRightOptions{
    display: flex;
    /* height: 54px;
    line-height: 54px;
    padding-right:10px; */
  
}

.topRightButton{
    margin: 10px;
    font-family: "Noto Sans TC";

    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    cursor: pointer;

}
.topRightButtonDesign{
    display: flex;
    /* padding-left:10px; 
    margin: 20px; */
}

/* For fixed space */
/* Not good solution */
.forSpacer{
    display: flex;
    width: 100%;
    height: 46px;
    background-color: #1c1313;
    top:0px;
}

/* Main image */    
.mainImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100%;
    height: 480px;
    background-image: url("../static/image/welcome.png");
    background-size: cover;
    background-position: center 25%;
    /* text-shadow: 0.2em 0.2em 0.01em white;
    text-shadow: -0.2em 0.2em 0.01em white;
    text-shadow: 0.2em -0.2em 0.01em white;
    text-shadow: -0.2em -0.2em 0.01em white; */
    justify-content: center;
    align-items: center;
}
.mainImageAlign{
    /* slogan */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    /* background-color: #32c2aa; */
    /* position: absolute; */
    width: 1200px;
    height: 169px;
    left: 360px;
    top: 129px
}

.mainImageAlignH1{
    /* Position */
    /* position: absolute; */ /*???plate shifting*/
    width: 1180;
    height: 41px;
    left: 0px;
    top: 0px;
    /* Header 1 - Bold 28(24) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */
    display: flex;
    align-items: center;
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;
    /* Text Shadow */
    text-shadow: 0px 0px 30px #AABBCC;
    
}

.mainImageAlignH2{
    /* 探索每個角落，體驗城市的深度旅遊行程 */


    /* position: absolute; */
    width: 1180px;
    height: 22px;
    left: 0px;
    top: 56px;

    /* Body - Bold 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 10 */

    color: #F8F8F8;
}

/* Search bar */
.mainImageSearchBar{
    display: flex;
    width: 400px;
    height: 46px;
    left: 0px;
    top: 0px;
    
    /* White */
    
    background: #FFFFFF;
    justify-content: center;
    align-items: center;
}
.searchBarInputWord{
    /* position: absolute; */
    width: 370px;
    height: 46px;
    left: 0px;
    top: 0px;
    
    /* Body - Bold 16(13.3) */
    justify-content: center;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 0px;
    /* or 83% */
    
    display: flex;
    align-items: center;
    
    /* Secondary Color/Gray 50 */
    
    color: #757575;
}
.searchBarInputImage{
    /* input */
    /* position: absolute; */
    width: 400px;
    height: 46px;
    left: 0px;
    top: 0px;

    /* White */
    background: #FFFFFF;
    /*  */
    justify-content: center;
    align-items: center;

}

.searchBarInput{
    /* 輸入景點名稱查詢 */
    /* position: absolute; */
    width: 370px;
    height: 16px;
    left: 15px;
    top: 15px;

    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    /* or 83% */
    display: flex;
    align-items: center;

    /* Secondary Color/Gray 50 */
    color: #757575;

    justify-content: center;
    align-items: center;

}

.searchBarButton{
    /* bg */
    /* position: absolute; */
    width: 60px;
    height: 46px;
    left: 0px;
    top: 0px;

    /* Primary Color/Cyan 70 */
    background: #448899;
}

/* CAT table */
.catTable{
    background-color: #538e8f;
}
/* CAT list Bar */
.catRowList{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c25d32;
    /* display: none; */
}
/* CAT */
.catBlock{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    background-color: #c23284;
}


/* Image */
/* list1 */
.imageRowList{
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    background-color: #32c2aa;
}
/* list2 */
.imageBlock{
    justify-content: center;
    margin: 10px;
    background-color: #3e32c2;
}
/* list3-1 */
.imageShow{
    /* Picture */
    /* position: absolute; */
    width: 270px;
    height: 197px;
    left: 0px;
    top: 0px;
    background-color: #757575;
}
/* list3-2 */
.imageTextBox{
    /* Auto layout */
    display: flex;
    /* flex-direction: column; */ /*???*/
    align-items: flex-start;
    padding: 10px;
    gap: 4px;

    /* position: absolute; */
    width: 270px;
    height: 45px;
    left: 0px;
    top: 197px;

    /* Additional Color/White */
    background: #FFFFFF;
}
/* list4-1 */
.imageTextMRT{
    /* position: absolute; */
    width: 125px;
    height: 25px;
    left: 0px;
    top: 0px;

    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Secondary Color/Gray 50 */

    color: #757575;
}
/* list4-2 */
.imageTextCAT{
    /* position: absolute; */
    width: 125px;
    height: 25px;
    left: 125px;
    top: 0px;

    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;
    text-align: right;

    /* Secondary Color/Gray 50 */

    color: #757575;
}
/* list4-3 */
.imageTextNameBackground{
    /* Rectangle 2 */
    /* position: absolute; */
    width: 270px;
    height: 40px;
    left: 0px;
    top: 0px;

    /* Additional Color/Black */

    background: #000000;
    opacity: 0.6;
}
/* list5 */
.imageTextName{
    /* Background */
    /* position: absolute; */
    width: 270px;
    height: 40px;
    left: 0px;
    top: 0px;

    /* Additional Color/Black */

    background: #000000;
    opacity: 0.6;

    /* Name */

    /* width: 250px;
    height: 20px;
    left: 0px;
    top: 0px; */

    /* Body - Bold 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    display: flex;
    align-items: center;

    /* Additional Color/White */

    color: #FFFFFF;

}