/* 
WeHelp BootCamp Assignemt - Stage 2 taipei_day_trip -*- CSS for index -*-
Update date: 2022/11/30
Authored by SC Siao 
*/

body{
    margin: 0; /* 不要留白 */
}
/* ***********************************************/
/* ******************* Header ********************/
/* ***********************************************/
/* Header - need freeze on top */

header{
    display: flex;
    position: sticky; /* freeze */
    margin:0px;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 100;
    border: 1px solid #E8E8E8;
}

header nav{
    display: flex;
    height: 54px;
    width: 1200px;
    justify-content:space-between;
    align-items: center;
}
header nav .topLeftTitleText:hover{
    color: #53a9be;
}
header nav .topLeftTitleText{
    /* 台北一日遊 */
    width: 150px;
    height: 34px;
    left: 0px;
    top: 0px;
    /* Header 2 - Bold 30(34) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    /* identical to box height, or 113% */
    /* Primary Color/Cyan 70 */
    color: #448899;
    text-decoration: none;

}
header nav .topRightOptions{
    display: flex;      
}
header nav .topRightOptions .arrangeSchedule:hover{
    font-size: 17px;
}
header nav .topRightOptions .arrangeSchedule{
    margin: 10px;
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    cursor: pointer;
}
header nav .topRightOptions .signInButton:hover{
    font-size: 17px;
}
header nav .topRightOptions .signInButton{
    display: none;
    margin: 10px;
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    cursor: pointer;
}
header nav .topRightOptions .signOutButton:hover{
    font-size: 17px;
}
header nav .topRightOptions .signOutButton{
    display: none;
    margin: 10px;
    font-family: "Noto Sans TC";
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    cursor: pointer;
}
/* ***********************************************/
/* ******************* slogan ********************/
/* ***********************************************/
/* Main image */   
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainImage{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width : 100%;
    height: 320px;
    background-image: url("../static/image/welcome.png");
    background-position: center 25%;
    background-size: cover;
    align-items: center;
}
.mainImageAlign{ 
    position: relative;  
    /* slogan */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 1180px;
    height: 169px;

}

.mainImageAlignH1{    
    /* 輕鬆享受台北一日悠閒 */
    /* Position */
    width: 1180;
    height: 41px;
    left: 0px;
    top: 0px;
    /* Header 1 - Bold 28(24) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    /* or 86% */
    display: flex;
    align-items: center;
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;
    /* Text Shadow */
    text-shadow: 0px 0px 30px #AABBCC;
    
}

.mainImageAlignH2{
    /* 探索每個角落，體驗城市的深度旅遊行程 */
    width: 1180px;
    height: 22px;
    left: 0px;
    top: 56px;
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */
    display: flex;
    align-items: center;
    /* Secondary Color/Gray 10 */
    color: #F8F8F8;
}
/* ***********************************************/
/* **************** Sign In Up *******************/
/* ***********************************************/
/* Black Filter */
.signFilter{
    position: fixed;
    display: none;
    /* position: absolute; */
    background-color: #000000;
    z-index: 150;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}
/* Sign in*/
.signIn,
.signUp{
    position:fixed;
    /* position: absolute; */
    top: 65px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* position: sticky; */
    display: none;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    z-index: 200;
    width: 340px;
    height: auto;
    background-color: #FFFFFF;
    
}
.topDecoratorBar{
    width: 340px;
    height: 10px;
    left: 0px;
    top: 0px;

    /* Additional Color/Dark Cyan Gradient (0deg) */

    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}
/* =========================================================== */
.signUp .titleAndCloseBlock,
.signIn .titleAndCloseBlock{
    position: relative;
    height: auto;
    align-items:top;
    align-content: center;
}
.signUp .titleAndCloseBlock .closeImage,
.signIn .titleAndCloseBlock .closeImage{    
    position: absolute;
    display: inline-flex; 
    right: 15px;
    top:25%;
    z-index: 300;
    background: #cacccd;
    border-radius: 19px;
    cursor: pointer;    
}
.signUp .titleAndCloseBlock .closeImage :hover,
.signIn .titleAndCloseBlock .closeImage :hover{
    background: #a5abae;
    border-radius: 19px;
}
.signUp .titleAndCloseBlock .closeImage img,
.signIn .titleAndCloseBlock .closeImage img{
    flex-direction: column;
    align-items: center;
}

/* =========================================================== */
.signIn .titleAndCloseBlock .signInTitle,
.signUp .signUpTitle{
    /* position: absolute; */
    width: 310px;
    height: 27px;
    /* left: 0px; */
    top: 0px;

    /* Header 3 - Blod 24(24) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    /* Secondary Color/Gray 70 */

    color: #666666;
    margin: 15px;
}


.signUp .signUpNameBlock,
.signUp .signUpEmailBlock,
.signUp .signUpPasswordBlock,
.signIn .signInEmailBlock,
.signIn .signInPasswordBlock{
    /* position: absolute; */
    font-family: 'Noto Sans TC';
    font-style: normal;
    color: #757575;
    justify-content: center;
    align-items: center;
    
    width: 310px;
    height: 47px;
    /* left: 0px; */
    /* top: 0px; */


    background: #FFFFFF;

    border: 1px solid #CCCCCC;
    border-radius: 5px;
    display: inline-flex;
    margin: 5px;
}

.signUp .signUpNameBlock .signUpName,
.signUp .signUpEmailBlock .signUpEmail,
.signUp .signUpPasswordBlock .signUpPassword,
.signIn .signInEmailBlock .signInEmail,
.signIn .signInPasswordBlock .signInPassword{
    /* position: absolute; */
    display: flex;
    border: none;
    outline: none;
    font-family: 'Noto Sans TC';
    font-style: normal;
    
    width: 280px;
    height: 17px;
    left: 15px;
    top: 15px;

    /* Body - Med 16(13.3) */

    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    /* or 83% */

    align-items: center;

    /* Secondary Color/Gray 50 */

    color: #757575;
}

.signUp .singUpButtonBlock,
.signIn .singInButtonBlock{
    display: inline-flex;
    /* position: absolute; */
    width: 310px;
    height: 47px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* left: 0px; */
    /* top: 156px; */
    /* Primary Color/Cyan 70 */
    background: #448899;
    border-radius: 5px;
    margin: 5px;
    color: #FFFFFF;
    cursor: pointer;
    
}
.signUp .singUpButtonBlock:hover,
.signIn .singInButtonBlock:hover{
    background: #508b9a;        
}

.signUp .singUpButtonBlock .singUpButton
.signIn .singInButtonBlock .singInButton{
    
    width: 270px;
    height: 27px;
    /* left: 20px;
    top: 10px; */

    /* Button - Reg 19(16) */
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    /* or 84% */

    display: flex;
    align-items: center;
    text-align: center;

    /* Additional Color/White */

    color: #FFFFFF;
}


.signIn .signInJudge{
    display: none;
    width: 310px;
    height: 22px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #ad3838;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 5px;
}
.signUp .signUpJudge{
    display: none;
    width: 310px;
    height: 22px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #ad3838;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 5px;
}

.signUp .signUpQuestionBlock,
.signIn .signInQuestionBlock{
    display: inline-flex;
}
/* .signIn .signInQuestionBlock :hover{
    background-color: #e60505;
} */
.signUp .signUpQuestionBlock .clickToSignIn,
.signIn .signInQuestionBlock .clickToSignUp{
    width: 310px;
    height: 22px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;
    color: #666666;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin: 5px;
    cursor: pointer;
}

/* ***********************************************/
/* ******************** Search *******************/
/* ***********************************************/
/* Search bar */
.mainImageSearchBar{
    display: flex;
    position: relative;
}
.searchBarInputImage{
    /* input */
    width: 400px;
    height: 46px;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;

}
.searchBarInput{
    font-family: 'Noto Sans TC';
    font-style: normal;
    color: #757575;
    justify-content: center;
    align-items: center;
}

.searchBarInput input{
    display: flex;
    width: 385px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    color: #757575;    
}


.searchBarButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 46px;
    border-radius: 5px;
    background-color: #448899;
    cursor: pointer;
}

/* CAT table */
.catTable0 {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #AABBCC;
    border-radius: 5px;
    z-index: 10;
    width: 400px;
    height: 162px;

    display: none;
    /* align-items: center; */
    /* gap: 4px; */
    grid-template-columns: repeat(3, 1fr);
    /* padding-left: 10px; */
    left: 10px;
    top: 140px;
    align-items: center;
    justify-content: center;
  }
  .catTable0 :hover {
    background: #E8E8E8;
    /* border-radius: 5px; */
  }

  .catTable0 div {
    display: flex;
    /* padding: 10px ; */
    height: 40px;
    cursor: pointer;
    color: #000000;
    font-family: "Noto Sans TC";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    align-items: center;
    justify-content: center;

  }
/* ***********************************************/
/* ******************** Attr *********************/
/* ***********************************************/
.mainFetchData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fetchData {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1180px;
    margin: 20px 10px;
    grid-gap: 15px;
    padding: 10px;
}  

.mainFetchData .fetchData .fetchNoData{
    display:flex;
    width: 100%;
    height: 100px;
    background:#bcbcbc;
    border-radius: 5px;
    justify-content:center;
    align-content:center;
    align-items:center;
}

.fetchData .imageBlock{
    width: 270px;
    height: 242px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #E8E8E8;
    text-decoration: none;
}
/* list3-1 */
.fetchData .imageBlock .imageShow{
    /* Picture */
    /* position: absolute; */
    width: 270px;
    height: 197px;
    left: 0px;
    top: 0px;
    background-color: #757575;
    position: relative;
}

.fetchData .imageBlock .imageShow img{
    width: 270px;
    height: 197px;
}

/* list5 */
.fetchData .imageBlock .imageTextName{
    /* Background */    

    display: flex;
    position: absolute;
    align-items: center;
    width: 250px;
    background-color: #000000;
    opacity: 0.6;
    color: #FFFFFF;
    bottom: -15px;
    font-family: "Noto Sans TC";
    font-style: normal;
    padding: 10px;

}
/* list3-2 */
.fetchData .imageBlock .imageTextBox{
    /* Auto layout */
    display: flex;
    gap: 4px;
    width: 270px;
    height: 45px;
    left: 0px;
    justify-content: space-between;
    align-items: center;
    /* Additional Color/White */
    background: #FFFFFF;
    position: relative;

}
/* list4-1 */
.fetchData .imageBlock .imageTextBox .imageTextMRT{
    /* position: absolute; */
    width: 125px;
    height: 25px;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;

    /* or 83% */
    display: flex;
    align-items: center;
    justify-content:ledt;

    /* Secondary Color/Gray 50 */
    color: #757575;
    padding: 10px;
}
/* list4-2 */
.fetchData .imageBlock .imageTextBox .imageTextCAT{
    width: 125px;
    height: 25px;

    /* Body - Med 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 13px;

    /* or 83% */
    display: flex;
    align-items: center;
    justify-content:right;

    /* Secondary Color/Gray 50 */
    color: #757575;
    padding: 10px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Auto layout */
    display: flex;
    align-items: center;
    background: #757575;
    width: 100%;
    height: 104px;

    /* Gray 700 */
    background: #757575;
}

footer p{
    /* Body - Bold 16(13.3) */
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    /* identical to box height, or 83% */
    align-items: center;
    /* Additional Color/White */
    color: #FFFFFF;
}

@media (max-width: 1200px){
    .fetchData {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
      }
    .mainFetchData .fetchData .fetchNoData{
        display:flex;
        width: 100%;
        height: 50px;
        background:#bcbcbc;
        border-radius: 5px;
        justify-content:center;
        align-content:center;
        align-items:center;
    }
    .fetchData .imageBlock .imageTextBox{
        height: 45px;
    }
    .mainImageAlign{ 
        width:600px
    }

}

@media (max-width: 600px){
    .fetchData {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
      }
    .mainImageAlign{ 
        width:340px;
        height:169px;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .mainImageAlignH1{
        width: 320px;
        height: 41px;
        left: 0px;
        top: 0px;
    }
    .mainImageAlignH2{
        width: 320px;
        height: 22px;
        left: 0px;
        top: 56px;
    }
    .searchBarInputImage{
        width: 230px;
        height: 46px;

    }
    .searchBarInput input{
        width: 230px;
    }
    .catTable0{
        width: 322px;
        height: 162px;
        left: 0px;
        top: 140px;
    }
}

