{% extends 'index.html' %}

{% block title %}
        <script src="../static/js/user.js" defer></script> 
        <link rel="stylesheet", type="text/css", href="../static/css/tpdt.css" />
        <link rel="stylesheet", type="text/css", href="../static/css/attraction.css" />
        <script src="../static/js/attraction.js" defer></script>   
        <title>台北一日遊</title>
{% endblock %}

{% block content %}
        <main>
            <!-- Section 1 Image and Booking -->
            <section class="section1ImageAndBooking">
                <nav id="attractionsImagesShow" class="attractionsImagesShow"></nav>
                <nav id="nameAndBooking" class="nameAndBooking"></nav>
            </section>
            <div id="spacer" class="spacer"></div>
            <!-- Section 2 Description -->
            <section class="descriptionAndAddress">
                <div id="description" class="content"></div>
                <div class="boldTitle">景點地址：</div>
                <div id="address" class="content"></div>
                <div class="boldTitle">交通方式：</div>
                <div id="transport" class="content"></div>
            </section>
        </main>
{% endblock %}
