<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="utf-8" />
        <title>Taipei Day Trip</title>
        <link rel="stylesheet", type="text/css", href="../static/tpdt.css" />
        <link rel="stylesheet", type="text/css", href="../static/attraction.css" />
        <script src="../static/attraction.js" defer></script>        
    </head>
    <body>
        <!-- header -->
        <header class="topFreezeBackgroung">
            <nav class="topTitle">
                <p class="topLeftTitleText">
                    台北一日遊
                </p>                            
                <div class="topRightOptions">
                    <div class="topRightButton">
                        <!-- <div calss="topRightButtonDesign" onclack=""> -->
                            排定行程
                        <!-- </div> -->
                    </div>
                    <div class="topRightButton">
                        <!-- <div calss="topRightButtonDesign" onclack=""> -->
                            登入/註冊
                        <!-- </div> -->
                    </div>  
                </div>
            </nav>
        </header>
        <!-- Main -->
        <!-- <button onclick="test();">test</button> -->
        <main>
            <!-- Section 1 Image and Booking -->
            <section class="section1ImageAndBooking">
                <nav id="attractionsImagesShow" class="attractionsImagesShow"></nav>
                <nav id="nameAndBooking" class="nameAndBooking"></nav>
            </section>
            <div id="spacer" class="spacer"></div>
            <!-- Section 2 Description -->
            <section class="descriptionAndAddress">
                <div id="description" class="content"></div>
                <div class="boldTitle">景點地址：</div>
                <div id="address" class="content"></div>
                <div class="boldTitle">交通方式：</div>
                <div id="transport" class="content"></div>
            </section>
        </main>
        <!-- footer -->
        <footer>
            <p>
                COPYRIGHT © 2021 台北一日遊
            </p>
        </footer>               
    </body>
</html>
