{% extends 'index.html' %}

{% block title %}
<title>台北一日遊</title>
<script src="../static/js/thankyou.js" defer></script> 
<link rel="stylesheet", type="text/css", href="../static/css/booking.css" />
<link rel="stylesheet", type="text/css", href="../static/css/thankyou.css" />
{% endblock %}

{% block content %}
<main>
    <section>
        <div class = "thankyouTitle1" id="thankyouTitle1"></div>
        <div class = "thankyouTitle2" id="thankyouTitle2"></div>
        <div class = "thankyouTitle3" id="thankyouTitle3"></div>
    </section>
    <img src = "../static/image/bocchi_gif.gif">
</main>
{% endblock %}